@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: hsl(220, 33%, 9%);
    padding: 0;
    min-height: 100vh;
}

#home{
    background-image: url('./assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
}

#destination{
    background-image: url('./assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
}

#crew{
    background-image: url('./assets/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
}

@media (max-width: 1023px){
  #home{
    background-image: url('./assets/home/background-home-tablet.jpg');
}

  #destination{
    background-image: url('./assets/destination/background-destination-tablet.jpg');
}
  #crew{
    background-image: url('./assets/crew/background-crew-tablet.jpg');
}
}

@media (max-width: 620px){
    #home{
    background-image: url('./assets/home/background-home-mobile.jpg');
    }
    #destination{
    background-image: url('./assets/destination/background-destination-mobile.jpg');
}
    #crew{
    background-image: url('./assets/crew/background-crew-mobile.jpg');
}
}

.glass {
  background-color: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(15px); 
}


.name-active {
  color: white;
  position: relative;
  z-index: 2;
}

.name-active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
}

.active-content{
  display: flex;
}

.inactive-content{
  display:none;
}