@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: hsl(220, 33%, 9%);
    padding: 0;
}

#home{
    background-image: url('./assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
}

.glass {
  background-color: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(15px); 
}


@media (max-width: 1023px){
    #home{
    background-image: url('./assets/home/background-home-tablet.jpg');
    }
}

@media (max-width: 620px){
    #home{
    background-image: url('./assets/home/background-home-mobile.jpg');
    }
}
